.transfers {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5px;
  justify-content: start;
  box-shadow: 0px 2px 8px 0px #0000001a;
  height: 252px;
  width: 232px;
}

.transfers-title {
  padding: 20px 20px 10px;
}

.transfers-title {
  font-size: 12px;
  line-height: 12px;
  color: #4a4a4a;
  letter-spacing: 0.5px;
}

.custom-dropdown {
  display: flex;
  flex-direction: column;
}

.checkbox {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../../../public/сheckbox.svg);
  left: 125px;
}



.checkbox-label {
  padding: 10px 50px;
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 20px;
  padding-left: 10px;
}

.checkbox-label input {
  position: absolute;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  
}

.checkbox-label input:checked + .checkbox {
  background-image: url(../../../public/сheckbox-active.svg);
}

.checkbox-label:hover {
    background-color: #F1FCFF;
}


.checkbox-label input:focus + .checkbox {
  outline: 2px solid #1e90ff; 
  outline-offset: 2px;        
}


.transfers-list {
  list-style-type: none;
  margin: 0px;
}