.price-filter__item {
    padding: 15px;
    font-family: 'Open Sans';
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-align: center;
    border: 1px solid #DFE5EC;
    background: #FFFFFF;
    width: 136px;
    display: block;
  }
  
  .price-filter__list {
    list-style-type: none;
    display: flex;
    padding-left: 0px;
    margin-top: 0px;
  }
  
  .cheap,
  .faster {
    border-right: none;
  }
  
  .cheap {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .optimal {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .active {
    background-color: #2196F3;
    color: #FFFFFF;
  }
  
  .price-filter {
    display: flex;
  }
  
  .price-filter__item input {
    appearance: none;
    -webkit-appearance: none;
  }
  
  .price-filter__item input:focus + label {
    outline: 2px solid #2196F3;
    outline-offset: 2px;
    border-radius: 5px;
  }
  